[Unit]
Description=server for the game chasecat
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/code/chasecat
ExecStart=/usr/local/bin/pipenv run gunicorn -c /code/chasecat/conf/gunicorn_conf.py wsgi:app

[Install]
WantedBy=multi-user.target
